body {
    font-family: Arial, sans-serif;
    background-color: #f3e2ca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background: rgb(248, 197, 146);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(248, 250, 216, 0.2);
    width: 300px;
    text-align: center;
  }
  
  input {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid #fef6f6;
  }
  
  button {
    padding: 10px 15px;
    background-color: #f884be;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 8px;
    margin-top: 5px;
    background: #f0d7df;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
  }
  
  li.completed {
    text-decoration: line-through;
    color: rgb(253, 221, 221);
  }
  